@import url("https://fonts.googleapis.com/css2?family=Bayon&family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chicle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400&display=swap");
body {
  background-color: #161616;
}

section {
  min-height: calc(100vh - 50px);
  padding: 50px 0;
}

a {
  text-decoration: none;
  transition: color 1s;
}
a:hover {
  color: #FFC0CB;
}

.myNavbar {
  background-color: #161616 !important;
  font-family: "Barlow Condensed", sans-serif;
  font-size: larger;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.myNavbar .navbar-nav {
  justify-content: center;
  width: 100%;
}
.myNavbar a {
  color: #FFF;
  transition: color 0.7s;
}
.myNavbar a:hover {
  color: #15ACDC;
  text-decoration: none;
}

#sintoniza {
  background-image: url("imagens/fundo.jpg");
  background-size: cover;
}

.sintoniza-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  height: 100vh;
}
.sintoniza-content h1 {
  text-align: center;
  color: #FFF;
  font-size: 70px;
  font-family: "Bayon", sans-serif;
  text-shadow: 4px 4px #161616;
}

.albuns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 40%;
}
.albuns .spotify {
  width: 300px;
  height: 300px;
}
.albuns .discografia {
  color: #FFF;
  font-family: "Barlow Condensed", sans-serif;
  height: 90%;
  border-left: solid 1px #FFF;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  text-shadow: 2px 2px #161616;
}
.albuns .discografia ul {
  padding: 0;
}
.albuns .discografia ul li::before {
  content: "+ ";
}
.albuns .discografia ul li {
  font-size: 1.4rem;
  font-family: "Barlow Condensed", sans-serif;
}
.albuns .discografia ul p {
  padding-top: 0.5rem;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .albuns {
    flex-direction: column;
    row-gap: 30px;
  }
  .albuns .discografia {
    border: none;
    padding-left: 0;
  }
}

#sobre-container {
  background-color: #FFF;
}
#sobre-container .sobre {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sobre-container .sobre .foto, #sobre-container .sobre .texto-sobre {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sobre-container .sobre .foto {
  width: 50.5%;
  justify-content: center;
}
#sobre-container .sobre .foto img {
  max-width: 80%;
  border: solid 1px #161616;
  filter: grayscale(50%);
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 10px 10px #161616;
}
#sobre-container .sobre .foto p {
  margin-top: 20px;
  font-family: "Barlow Condensed", sans-serif;
}
#sobre-container .sobre .texto-sobre {
  width: 49.5%;
  justify-content: flex-start;
  gap: 30px;
}
#sobre-container .sobre .texto-sobre p {
  color: #161616;
  text-align: justify;
  padding: 0 50px;
  font-size: x-large;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: light;
}
#sobre-container .sobre .texto-sobre h2 {
  background-color: #FFC0CB;
  background-size: cover;
  color: #FFF;
  font-family: "Bayon", sans-serif;
  padding: 15px;
  text-shadow: 3px 3px #161616;
  border: 1px solid #161616;
  box-shadow: 4px 4px #161616;
  -webkit-text-stroke: 1px #161616;
}
@media (max-width: 768px) {
  #sobre-container .sobre {
    flex-direction: column;
    gap: 40px;
  }
  #sobre-container .sobre .foto {
    border: none;
  }
  #sobre-container .sobre .foto, #sobre-container .sobre .texto-sobre {
    width: 100%;
    height: 50%;
  }
}

#shows-container .shows .car2 {
  display: none;
}
#shows-container .shows .logo-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}
#shows-container .shows .logo-titulo .logo {
  width: 70px;
}
#shows-container .shows .logo-titulo .ultimos-shows {
  width: 216px;
}
#shows-container .shows .item-carrosel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
#shows-container .shows .item-carrosel img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 40%;
  border: solid 1px #FFC0CB;
  box-shadow: 4px 4px #FFC0CB;
}
#shows-container .shows p {
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
  color: #FFF;
  padding: 20px 0 0 0;
}
@media (max-width: 768px) {
  #shows-container .shows .car1 {
    display: none;
  }
  #shows-container .shows .car2 {
    display: block;
  }
  #shows-container .shows .car2 img {
    min-width: 200px;
  }
}

.carousel-control-prev, .carousel-control-next {
  background-color: transparent;
  border: none;
}

#loja-container {
  background-color: #FFC0CB;
  height: auto;
  min-height: 0;
}
#loja-container .loja h2 {
  font-size: 2.5rem;
  font-family: "Bayon", sans-serif;
  color: #FFF;
  text-shadow: 3px 3px #161616;
  -webkit-text-stroke: 1px #161616;
}
#loja-container .loja .seguir {
  height: 100px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#loja-container .loja .seguir img {
  width: 60px;
}
#loja-container .loja .imagens img {
  border: solid 1px #161616;
  box-shadow: 4px 4px #161616;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 230px;
}
#loja-container .loja-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
#loja-container .loja-desktop .imagens-seguir {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#loja-container .loja-desktop .imagens-seguir .imagens {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
#loja-container .loja-mobile {
  display: none;
}
@media (max-width: 768px) {
  #loja-container .loja-desktop {
    display: none;
  }
  #loja-container .loja-mobile {
    width: 100%;
    display: block;
  }
  #loja-container .loja-mobile .titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  #loja-container .loja-mobile .imagens img {
    margin-bottom: 30px;
  }
}

#contato-container {
  min-height: 300px;
  padding-top: 50px;
  color: #FFF;
  display: flex;
  justify-content: space-around;
}
#contato-container h2 {
  font-family: "Bayon", sans-serif;
}
#contato-container p {
  font-size: 1.2rem;
  font-family: "Barlow Condensed", sans-serif;
}
#contato-container .contato, #contato-container .redes {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#contato-container .contato .item-contato {
  color: #FFF;
  display: flex;
  gap: 15px;
}
#contato-container .contato img {
  width: 25px;
  height: 25px;
}
#contato-container .redes .logos {
  align-self: center;
}
#contato-container .redes .logos img {
  margin: 2px;
  width: 50px;
}
@media (max-width: 768px) {
  #contato-container {
    padding-left: 40px;
    flex-direction: column;
  }
  #contato-container .contato, #contato-container .redes {
    gap: 20px;
    padding-bottom: 100px;
  }
  #contato-container .logos {
    align-self: flex-start !important;
  }
}

@media (max-width: 768px) {
  .item-carrosel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */